* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: silver;
}

header {
    background-color: grey;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    padding-top: 38px;
}

main {
    position: relative;
    top: 100px;
}

h1 {
    font-size: 32px;
    text-align: center;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

table {
    border: 1px solid black;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}

th {
    font-size: 18px;
    font-weight: bold;
    background-color: grey;
    border: 1px solid black;
    padding: 5px;
}

td {
    border: 1px solid black;
    background-color: white;
    padding: 5px;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgrey;
}

#headline {
    display: flex;
    justify-content: center;
    align-items: center;
}